<div class="seller_register">
  <div class="seller_warp">
    <p class="register_tit">商户注册</p>
    <p class="has_tip" *ngIf="!isNext">已有账号?<span class="to_login" (click)="toLogin()">点击登录</span></p>
    <p class="has_tip" *ngIf="isNext">图片上传</p>
    <form nz-form [formGroup]="formValidate" *ngIf="!isNext">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">姓名</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入姓名" [class.input_err]="check('name')"
                 formControlName="name" [(ngModel)]="registerObj.name">
        </div>
        <div class="form_explain" *ngIf="formValidate.controls.name.dirty&&formValidate.controls.name.hasError('required')">
          <i class="anticon anticon-exclamation-circle" style="color: #ff6b6b;margin-right: 5px"></i> 必填
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">手机号</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入手机号" [class.input_err]="check('mobile')"
                 formControlName="mobile" [(ngModel)]="registerObj.mobile">
        </div>
        <div class="form_explain" *ngIf="formValidate.controls.mobile.dirty&&formValidate.controls.mobile.hasError('required')">
          <i class="anticon anticon-exclamation-circle" style="color: #ff6b6b;margin-right: 5px"></i> 必填
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">密码</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="password" class="hk_input" placeholder="请输入密码" [class.input_err]="check('password')"
                 formControlName="password" [(ngModel)]="registerObj.password">
        </div>
        <div class="form_explain" *ngIf="formValidate.controls.password.dirty&&formValidate.controls.password.hasError('required')">
          <i class="anticon anticon-exclamation-circle" style="color: #ff6b6b;margin-right: 5px"></i> 必填
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">确认密码</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="password" class="hk_input" placeholder="再次输入密码" [class.input_err]="check('passwordConfirm')||matchPwd()"
                 formControlName="passwordConfirm" [(ngModel)]="registerObj.passwordConfirm">
        </div>
        <div class="form_explain" *ngIf="formValidate.controls.passwordConfirm.dirty&&formValidate.get('passwordConfirm').hasError('required')">
          <i class="anticon anticon-exclamation-circle" style="color: #ff6b6b;margin-right: 5px"></i> 必填
        </div>
        <div class="form_explain" *ngIf="formValidate.controls.password.dirty&&
        !formValidate.controls.passwordConfirm.hasError('required')&&
        formValidate.controls.passwordConfirm.dirty&&
        formValidate.hasError('notMatch')">
          <i class="anticon anticon-exclamation-circle" style="color: #ff6b6b;margin-right: 5px"></i> 密码校验失败
        </div>
      </div>
    </form>
    <div nz-row *ngIf="isNext">
      <div nz-col [nzSpan]="24" nz-row>
        <div nz-form-label nz-form-item-required nz-col [nzSpan]="5">身份证号</div>
        <div nz-form-item nz-col [nzSpan]="16" [nzOffset]="1">
          <input class="hk_input" type="text" [(ngModel)]="registerObj.certificateId">
        </div>
      </div>
      <div nz-col [nzSpan]="10" [nzOffset]="1">
        <upload-pic [alt]="'身份证件照正面'" [type]="'7'"
                    (uploadSuccess)="uploadSuccess($event,0)"></upload-pic>
      </div>
      <div nz-col [nzSpan]="10" [nzOffset]="2">
        <upload-pic [alt]="'身份证件照反面'" [type]="'7'"
                    (uploadSuccess)="uploadSuccess($event,1)"></upload-pic>
      </div>
    </div>
    <div class="protocol" *ngIf="!isNext">
      <input class="register_checkbox" type="checkbox" [(ngModel)]="isAgree" name="a">
      <span>同意《口袋合作协议》</span>
    </div>
    <div class="register_btn" *ngIf="!isNext" (click)="next()">下一步</div>
    <div class="register_btn" *ngIf="isNext" (click)="register()">立即注册</div>
  </div>
</div>
