<div class="seller_register">
  <div class="seller_warp">
    <p class="register_tit">商户注册</p>
    <p class="has_tip">已有账号?<span class="to_login">点击登录</span></p>
    <div nz-form>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">姓名</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入姓名">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">手机号</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入手机号">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">短信验证码</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入验证码">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">密码</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="请输入密码">
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6" class="form_label_bold">确认密码</div>
        <div nz-col [nzSpan]="12" [nzOffset]="1">
          <input type="text" class="hk_input" placeholder="再次输入密码">
        </div>
      </div>
    </div>
    <div class="protocol">同意《口袋合作协议》</div>
    <div class="register_btn">立即注册</div>
  </div>
</div>
