/*按钮*/
.hk_btn_lg{
  font-size: 16px;
  width: 85px;
  height: 32px;
}

.hk_btn_default{
  font-size: 14px!important;
  width: 72px!important;
  height: 30px!important;
}

.hk_btn_sm{
  font-size: 12px;
  width: 53px;
  height: 26px;
}

/*输入框*/
.hk_input{
  width: 100%;
  font-family: "Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif!important";
  text-indent:10px;
  height: 32px;
  font-size: 12px;
  color: rgba(0,0,0,.65);
  border: 1px solid #ecedee;
  padding: 9px 12px 8px;
}

.hk_input:focus,.hk_input:hover{
  border-color:#49a9ee;
  outline: none;
}
