/*按钮*/
.hk_btn_lg{
  font-size: 16px;
  width: 85px;
  height: 32px;
}

.hk_btn_default{
  font-size: 14px!important;
  width: 72px!important;
  height: 30px!important;
}
.hk_btn_danger{
  background: #ff0000!important;
  color: #fff!important;
}

.hk_btn_sm{
  font-size: 12px;
  width: 53px;
  height: 26px;
}

.hk_btn_group{
  text-align: center;
}
/*输入框*/
.hk_input{
  width: 100%;
  font-family: "Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif!important";
  text-indent:10px;
  height: 32px;
  font-size: 12px;
  color: rgba(0,0,0,.65);
  border: 1px solid #ecedee;
  padding: 9px 12px 8px;
}

.hk_input:focus,.hk_input:hover{
  border-color:#49a9ee;
  outline: none;
}


/*卡片*/
.hk_card{
  background: #ffffff;
}
.hk_card .card_title{
  font-size: 14px;
  border-bottom: 1px solid hsla(0,0%,85%,.5);
  margin: 0 10px;
  padding: 6px 15px 6px 5px!important;
  font-weight: 600;
}

.hk_card .card_content{
  padding: 20px 20px 10px;
}
.card_content .content_tip{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

/*全局退出按钮*/
.back_btn_g{
  position:fixed!important;
  top:80px;
  right: 20px;
}
